### UnderHood Config ###

# UnderHood Discovery
de.fhb.underhood.communication.discovery.service.name=<%= node['underhood']['discovery']['service']['name'] %>
de.fhb.underhood.communication.discovery.service.type=<%= node['underhood']['discovery']['service']['type'] %>
de.fhb.underhood.communication.discovery.service.port=<%= node['underhood']['discovery']['service']['port'] %>
de.fhb.underhood.communication.discovery.service.property.0=hello

# JMX
com.sun.management.jmxremote 
com.sun.management.jmxremote.authenticate=false 
com.sun.management.jmxremote.ssl=false 
com.sun.management.jmxremote.port=1088
java.rmi.server.hostname=localhost